@use "../../utils" as *;
@use "../../global" as *;

.grid {
    position: relative;
    display: grid;
    align-content: start;
    row-gap: 99px;
    column-gap: 40px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @include md {
        column-gap: 32px;
    }
    @include sm {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include xs {
        row-gap: 80px;
        column-gap: 16px;
    }
    @include tn {
        row-gap: 50px;
        column-gap: 8px;
    }
}
.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px 0;
    grid-row: span 1;
    grid-column: span 1;
}
.image2 {
    position: relative;
    width: 100%;
    object-fit: cover;
}
.highlight {
    position: relative;
    font: 700 18px/1.27 "Merriweather", Helvetica, Arial, serif;
    color: rgba(255, 255, 255, 0.8);
    @include md {
        align-items: flex-start;
        font-size: 16px;
    }
}