.main {
    background: wheat url("../../../assets/1st_background.png") no-repeat center center;
    height: 1080px;
    overflow: hidden;
}

.SectionFlexCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px 0;
    margin: 199px auto 240px;
    width: 1150px;
    max-width: 85%;
}

.contentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
}

.flexCol1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin: 60px auto 24px;
    width: 974.046875px;
    max-width: 85%;
}
.flexRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
}

.flexCol2 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    width: 350px;
    min-width: 0;
}

.flexCol3 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputLabel {
    position: relative;
    font: 300 18px/1.22 "Montserrat", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
}

@media (max-width: 992px) {
    .inputLabel{
        align-items: flex-start;
        font-size: 16px;
    }
    .input {
        align-items: flex-start;
        font-size: 16px;
    }
}

.input {
    outline: none;
    width: 100%;
    border: none;
    position: relative;
    margin: 16px 2px 0;
    font: 400 18px/1.22 "Montserrat", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
}

.line {
    position: relative;
    margin: 1px 0 0;
    width: 100%;
    height: 1px;
    min-height: 1px;
    background-color: rgb(143, 143, 143);
}

.flexCol4 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px 0;
    width: 300px;
    min-width: 0;
}

.profileImage {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.selectButton {
    cursor: pointer;
    border: 2px solid #505050;
    position: relative;
    display: flex;
    justify-content: center;
    font: 300 18px/1.22 "Montserrat", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(232, 211, 182, 0.737);
    border-radius: 8px 8px 8px 8px;
    padding: 4px 8px 4px 8px;
}
.changeButton {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    font: 300 18px/1.22 "Montserrat", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(232, 211, 182, 0.737);
    border-radius: 8px 8px 8px 8px;
    padding: 4px 8px 4px 8px;
}
.submitButton {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 38.5% 0 auto;
    width: 200px;
    max-width: 100%;
    font: 300 18px/1.22 "Montserrat", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(232, 211, 182, 0.737);
    border-radius: 8px 8px 8px 8px;
    padding: 6.5px 30px 6.5px 30px;
}

.hidden {
    display: none;
}