@use "../../utils" as *;
@use "../../global" as *;

.section2 {
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  background: url(../../../assets/2nd_page.png) center center / 100% 100% no-repeat;
}
